<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <aside class="bd-sidebar top-1">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar"
            aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Tài liệu</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="offcanvas"
                    data-bs-target="#bdSidebar"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="bd-links w-100 px-3" id="bd-docs-nav">
                    <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                        <li class="bd-links-group py-2">
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-bold">
                                <strong class="bd-links-heading d-flex w-100 align-items-center fw-bold text-success">
                                    <i class="bi bi-geo-alt-fill pe-1 text-success"></i>
                                    Các Cơ Sở
                                </strong>
                            </strong>
                            <ul class="list-unstyled fw-normal pb-2 small">
                                <li><a href="#item-1" class="bd-links-link d-inline-block rounded">Hà Nội</a></li>
                                <li><a href="#item-2" class="bd-links-link d-inline-block rounded">TP Hồ Chí Minh</a>
                                </li>
                                <li><a href="#item-3" class="bd-links-link d-inline-block rounded">Đà Nẵng</a></li>
                                <li><a href="#item-4" class="bd-links-link d-inline-block rounded">Hải Phòng</a></li>
                                <li><a href="#item-5" class="bd-links-link d-inline-block rounded">Hà Nam</a></li>
                                <li><a href="#item-6" class="bd-links-link d-inline-block rounded">Thanh Hóa</a>
                                </li>
                                <li><a href="#item-7" class="bd-links-link d-inline-block rounded">Thái Nguyên</a>
                                </li>
                                <li><a href="#item-8" class="bd-links-link d-inline-block rounded">Quy Nhơn</a></li>
                                <li><a href="#item-9" class="bd-links-link d-inline-block rounded">Tây Nguyên</a></li>
                                <li><a href="#item-10" class="bd-links-link d-inline-block rounded">Đồng Nai</a></li>
                                <li><a href="#item-11" class="bd-links-link d-inline-block rounded">Cần Thơ</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
    <main class="bd-main order-1 w-100">
        <div>
            <h4 id="item-1">Hà Nội</h4>
            <div class="pb-5">
                <p><b>Địa chỉ:</b>
                    Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm,
                    TP Hà Nội</p>
                <b>Liên hệ Văn phòng tuyển sinh:</b>
                <ul>
                    <li><b>Tư vấn 1:</b> (024) 8582 0808</li>
                    <li><b>Tư vấn 2:</b> (024) 6684 0713</li>
                    <li><b>Tư vấn 3:</b> 0988 866 377</li>
                    <li><b>Email:</b> caodangfpt.hn@fpt.edu.vn</li>
                </ul>

                <b>Liên hệ các phòng ban khác:</b>
                <ul>
                    <li><b>Phòng Dịch vụ sinh viên:</b></li>
                    <ul>
                        <li>Tel: (024) 7300 1955 - Nhánh số 2 hoặc (024) 6259 4013</li>
                        <li>Email: daotaopoly.hn@fe.edu.vn</li>
                    </ul>
                </ul>

                <b>Phòng Hành chính - Kế toán:</b>
                <ul>
                    <li>(024) 6327 6306</li>
                    <li>(024) 6682 2713</li>
                    <li>(024) 6327 6305</li>
                    <li>Email: hanhchinhpoly.hn@poly.edu.vn</li>
                </ul>

                <b>Phòng Hành chính - Kế toán:</b>
                <ul>
                    <li>Tel: 024 6327 6803</li>
                    <li>Email: qhdn.poly@fpt.edu.vn</li>
                </ul>

                <b>Phòng Công tác sinh viên:</b>
                <ul>
                    <li>Tel: (024) 6260 4013</li>
                    <li>Email: ctsvpoly.hn@fe.edu.vn</li>
                </ul>
                <img decoding="async" class="pb-3 w-100"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT_Polytechnic_Hanoi.jpg">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8638558814346!2d105.74459841492961!3d21.038132792834098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1620117061296!5m2!1sen!2s"
                        height="300" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy"
                        data-rocket-lazyload="fitvidscompatible"
                        data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8638558814346!2d105.74459841492961!3d21.038132792834098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1620117061296!5m2!1sen!2s"
                        data-ll-status="loaded" class="entered lazyloaded"></iframe>
                </div>
            </div>

            <h4 id="item-2">TP Hồ Chí Minh</h4>
            <div class="pb-5">
                <ul>
                    <li>Cơ sở quận 12: Công viên phần mềm Quang Trung, phường Tân Chánh Hiệp, quận 12, TP Hồ Chí Minh
                    </li>
                    <li>Cơ sở quận Phú Nhuận: 778/B1 Nguyễn Kiệm, phường 4, quận Phú Nhuận, TP Hồ Chí Minh</li>
                </ul>
                <strong>Liên hệ Văn phòng tuyển sinh:</strong>
                <ul>
                    <li><b>Địa chỉ:</b></li>
                    <span>- Tòa nhà QTSC9 (toà T), đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TP HCM</span>
                    <span>- 778/B1 Nguyễn Kiệm, phường 04, quận Phú Nhuận, TP HCM</span>
                    <li><b>Hotline:</b> 090 166 0002 - 028 6686 6486</li>
                    <li>
                        <b>Email:</b> <a href="mailto:caodangfpt.hcm@fe.edu.vn"
                            data-linkindex="0">caodangfpt.hcm@fe.edu.vn</a>
                    </li>
                </ul>
                <p>Liên hệ các phòng ban khác</p>
                <ul>
                    <li>Hotline: 028.7308.8800</li>
                    <li>
                        <b>Phòng Dịch vụ sinh viên:</b> <a href="mailto:dvsvpoly.hcm@poly.edu.vn"
                            data-linkindex="0">dvsvpoly.hcm@poly.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Công tác sinh viên:</b>
                        <a href="mailto:ctsv.fplhcm@fe.edu.vn" data-linkindex="0">ctsv.fplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Phát triển cá nhân:</b>
                        <a href="mailto:pdp.fplhcm@fe.edu.vn" data-linkindex="0">pdp.fplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Đào tạo:</b>
                        <a href="mailto:daotaofpoly.hcm@fe.edu.vn" data-linkindex="0">daotaofpoly.hcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Khảo thí:</b> khaothi.fplhcm@fe.edu.vn
                        <a href="mailto:khaothi.fplhcm@fe.edu.vn" data-linkindex="0">khaothi.fplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Hành chính:</b>
                        <a href="mailto:taichinhfplhcm@fe.edu.vn" data-linkindex="0">taichinhfplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Quan hệ doanh nghiệp:</b>
                        <a href="mailto:qhdn.fplhcm@fe.edu.vn" data-linkindex="0">qhdn.fplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        <b>Phòng Y tế:</b>
                        <a href="mailto:ytepoly.hcm@fe.edu.vn" data-linkindex="0">ytepoly.hcm@fe.edu.vn</a>
                    </li>
                </ul>
                <img decoding="async" class="pb-3 w-100"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-HCM-500x334.jpg"
                    title="FPT-Polytechnic-HCM">
                <iframe class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.4957977389943!2d106.67891837773028!3d10.811954583680276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528dfcf546de7%3A0xf872809fb8deded!2sFPT%20Polytechnic%20Colleges!5e0!3m2!1sen!2s!4v1640744089298!5m2!1sen!2s"
                    height="300" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy"
                    data-rocket-lazyload="fitvidscompatible"
                    data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.4957977389943!2d106.67891837773028!3d10.811954583680276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528dfcf546de7%3A0xf872809fb8deded!2sFPT%20Polytechnic%20Colleges!5e0!3m2!1sen!2s!4v1640744089298!5m2!1sen!2s"
                    data-ll-status="loaded" class="entered exited lazyloaded"></iframe>
            </div>

            <h4 id="item-3">Đà Nẵng</h4>
            <div class="pb-5">
                <p><b>Địa chỉ:</b> 137 Nguyễn Thị Thập, phường Hòa Minh, quận Liên Chiểu, TP Đà Nẵng</p>
                <b>Liên hệ Văn phòng tuyển sinh:</b>
                <ul>
                    <li>Địa chỉ: 219 Nguyễn Sinh Sắc, phường Hoà Minh, quận Liên Chiểu, TP Đà Nẵng</li>
                    <li>Hotline: (023) 6371 0999</li>
                    <li>Email: caodangfpt.dn@fpt.edu.vn</li>
                </ul>

                <b>Liên hệ các phòng ban khác:</b>
                <ul>
                    <li>Phòng Dịch vụ sinh viên và Công tác sinh viên: 090 456 5885 - dvsvpoly.dn@poly.edu.vn</li>
                    <li>Phòng Quan hệ doanh nghiệp: (023) 6350 6877 - qhdn.fpldn@fpt.edu.vn</li>
                    <li>Phòng Giáo vụ Đào tạo: (023) 6371 0889</li>
                    <li>Phòng Hành chính: 0977 080 703</li>
                </ul>
                <img decoding="async" class="w-100"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/2024/06/FPT-Polytechnic-Da-Nang-Nguyen-THi-Thap.jpg"
                    class="vc_single_image-img attachment-full entered lazyloaded"
                    title="FPT Polytechnic-Da Nang-Nguyen THi Thap">
                <iframe class="w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479.2259793831745!2d108.16952574863252!3d16.075458689461417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e07b1c3f%3A0x459e4bf5a2af323e!2sFPT%20Danang%20POLYTECHNIC!5e0!3m2!1sen!2s!4v1620117951852!5m2!1sen!2s"
                    height="300" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy"
                    data-rocket-lazyload="fitvidscompatible"
                    data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479.2259793831745!2d108.16952574863252!3d16.075458689461417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e07b1c3f%3A0x459e4bf5a2af323e!2sFPT%20Danang%20POLYTECHNIC!5e0!3m2!1sen!2s!4v1620117951852!5m2!1sen!2s"
                    data-ll-status="loaded" class="entered lazyloaded"></iframe>

            </div>

            <h4 id="item-4">Hải Phòng</h4>
            <p>...</p>
            <h4 id="item-5">Hà Nam</h4>
            <p>...</p>
            <h4 id="item-6">Thanh Hóa</h4>
            <p>...</p>
            <h4 id="item-7">Thái Nguyên</h4>
            <p>...</p>
            <h4 id="item-8">Quy Nhơn</h4>
            <p>...</p>
            <h4 id="item-9">Tây Nguyên</h4>
            <p>...</p>
            <h4 id="item-10">Đồng Nai</h4>
            <p>...</p>
            <h4 id="item-11">Cần Thơ</h4>
            <p>...</p>
        </div>
    </main>
</div>

<!-- <script>
    window.addEventListener('message', (event) => {
        const data = event.data;
        if (data && data.theme) {
            document.documentElement.setAttribute('data-bs-theme', data.theme);
        }
    });
</script> -->