<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>
<h1>Đây là trang chủ</h1>
<h2>Bảng Demo của Nguyên</h2>

<!-- <script>
    window.addEventListener('message', (event) => {
        // Kiểm tra origin của tin nhắn để đảm bảo an toàn (quan trọng cho cross-origin)
        // if (event.origin !== 'your-parent-domain.com') return;

        const data = event.data;
        if (data && data.theme) {
            document.documentElement.setAttribute('data-bs-theme', data.theme);
        }
    });
</script> -->